header {
  background: linear-gradient(90deg, rgba(0, 241, 255, 1) 0%, rgba(5, 24, 185, 1) 17%);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.title {
  align-items: center;
  display: flex;
}

.title h2 {
  margin-top: 30px;
}

.icon {
  width: 80px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.userInfo div {
  padding-top: 5px;
}
